<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>{{ post.title }}</title>
</head>
<body>
    <a href="/">
      <img src="{% static 'django.png' %}">
    </a>
    <div class="one-post">
        <h2 class="post-title">
              {{ post.title }}
        </h2>
        <div class="article-info">
        <div class="article-author">
            {{ post.author.username }}
        </div>
        <div class="article-created- date">
            {{ post.created_date }}
        </div>
        </div>
        <p class="article-text">
            {{ post.get_excerpt }}
        </p>
    </div>
</body>
</html>